<footer class="footer">
    <div class="footer-content">
            <h4>Developed by Dhananjay Naphade</h4>
            <p>&copy; copyright Reserved 2022</p>
        
            <ul class="socials">
                <li><a href="https://www.facebook.com/dhananjay.naphde"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/its_dhanu1999"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/dhananjay-naphade-2b046b205"><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://github.com/DN1999"><i class="fa-brands fa-github"></i></a></li>
            </ul>
        </div>     
</footer>   
 
</body>
</html>