<%- include("partials/header") %>
<div class="index">
    <img class="center" src="/logo.jpg" alt="">
    <div class="container">
    <!-- <button class="btn"><a href=>Visit The Spark Foundation</a></button> -->
</div>

<div class="content ">
    <h2 class="heading">BASIC BANKING SYSTEM</h2>
</div>

<p class="main-content">
    This Web app is used to transfer credits between customers and
    to maintain transaction history of each transaction.
</p>

<p class="main-content">
 &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp Design By :Dhananjay Pradip Naphade
</p>
   
<div>
<%- include("partials/footer") %>